<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/adminlayout}">
  
  
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      
      <!-- Left side column. contains the logo and sidebar -->
      
	<th:block layout:fragment="content">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Page Header
            <small>Optional description</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Your Page Content Here -->
          <div class="row">
          	<div class="col">
          		<div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">카테고리별매출현황</h3>
                </div><!-- /.box-header -->
                <!-- list start -->
                <div class="row">
    		<div class="col-md-12">
    			<div class="box">
					<div class="box-header with-border">
					<h3 class="box-title">카테고리별매출현황</h3>
					</div>

					<div class="box-body">
						<div>
							<form action="" method="get" >
									<select name="year" id="year">
										<option th:each="i : ${#numbers.sequence(2020, #dates.year(#dates.createNow()))}" th:value="${i}" th:text="${i}"
										 th:selected="${i} == ${year}"></option>
									</select>
									년
									<select name="month" id="month">
										<th:block th:each="i : ${#numbers.sequence(1, 12)}">
											<option th:value="${i}" th:text="${i}" th:selected="${i} == ${month}"></option>
										</th:block>
									</select>
									월
									<button type="button" class="btn btn-primary" id="selectSearch">검색</button>
							</form>
						</div>
						
						<div class ="chartjs">
							<canvas id="salesChart" width="300" height="100"></canvas>
							
						</div>
						
					</div>
					<div class="box-footer clearfix">
						<div class="row">
							<div class="col-md-4">
								
							
							</div>
							
							
						</div>
						
					</div>
			   </div>
    		</div>
    	</div>
              </div>
          	</div>
          </div>
          

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      
    


  
  
	
	
    </th:block>

      <!-- Main Footer -->
      

      <!-- Control Sidebar -->
      
    

    <!-- REQUIRED JS SCRIPTS -->
	<th:block layout:fragment="script">
    <script>
		let myChart = null; // 전역변수(중요) 한 페이지에서 하나의 차트기능구현을 검색을 통하여 작업할 시 꼭 이 객체를 전역변수로 만들어주는 작업이 반드시 필요함.
      $(document).ready(function() {
		//let myCt = null;
		
    	chartData();

	// 통계 및 차트 구현 함수
	function chartData() {
		$.ajax({
			url: '/admin/staticanalysis/monthlySalesStatusByTopCategory',
			type: 'get',
			data: {year : $("#year").val(), month: $("#month").val()},
			dataType: 'json',
			success: function(result) {
				console.log(result);

				// js 배열문법
				let labelNames = [];
			    let salesPriceData = [];

				$.each(result, function() {
					labelNames.push(this['PRIMARY_CD']);
					salesPriceData.push(this['SALES_P']);
				});
				
				/*
				for(let i=0; i<result.length; i++) {

					console.log(result[i].PRIMARY_CD);
					console.log(result[i].SALES_P);
					labelNames.push(result[i].PRIMARY_CD);
					salesPriceData.push(result[i].SALES_P);
				}
				*/
				
				//labelNames = JSON.parse(labelNames);
				//salesPriceData = JSON.parse(salesPriceData);

				console.log("x축: ", labelNames);
				console.log("y축: ", salesPriceData);
				
			let	myCt = document.getElementById('salesChart');
			    
				
			    
			   

			    myChart = new Chart(myCt, {
			      type: 'bar',
			      data: {
			        labels: labelNames, //['BAG', 'PANTS', 'SHIRTS', 'SHOES', 'TOP'], Js 배열 // 쿼리 실력이 부족하여 쿼리로 데이터 못 뽑아오면, 일단 이걸 수동으로 처리하도록 함.
			        datasets: [
			          {
			            label: 'Dataset',
			            data: salesPriceData, //[105000, 100000, 135000, 195000, 890600], 
			          }
			        ]
			      },
			    });

				//myChart.destroy();
				
			}
		});
	};

	// 날짜 검색 id="selectSearch"
	$("#selectSearch").on("click", function() {
		console.log("날짜검색");
		if (myChart !== undefined) myChart.destroy();
		//myChart.destroy();
		chartData();
	});

	
	
        
  }); // ready event end
  
	

    </script>

    </th:block>
  </body>
</html>
