<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- <link rel="stylesheet" href="/style.css"> /가 static임. -->
<link rel="stylesheet" th:href="@{/style.css}"> <!-- thymeleaf 문법: 컨텍스트 패스가 달라질 경우를 대비 -->
</head>
<body>
	<h1>List객체 데이터 출력</h1>
	<table>
		<tr>
			<th>번호</th>
			<th>이름</th>
			<th>나이</th>
		</tr><!-- status는 상태변수로 생략가능 -->
		<tr th:each="user, status : ${list}">
			<td th:text="${status.count}"></td>
			<td th:text="${user.username}"></td>
			<td th:text="${user.age}"></td>
		</tr>
	</table>
	<hr>
	<h3>상태변수 사용출력</h3>
	<table>
		<tr th:each="user, userState : ${list}">
			<th>
				index = <br>
				count = <br>
				size = <br>
				even? = <br>
				odd? = <br>
				first? = <br>
				last? = <br>
				current = <br>
			</th>
			<td>
				<span th:text="${userState.index}"></span><br>
				<span th:text="${userState.count}"></span><br>
				<span th:text="${userState.size}"></span><br>
				<span th:text="${userState.even}"></span><br>
				<span th:text="${userState.odd}"></span><br>
				<span th:text="${userState.first}"></span><br>
				<span th:text="${userState.last}"></span><br>
				<span th:text="${userState.current}"></span><br>
			</td>
		</tr>
	</table>
	<hr>
	<h3>List객체의 요소 접근하여 출력</h3>
	<table>
		<tr>
			<th>요소</th>
			<th>이름</th>
			<th>나이</th>
		</tr>
		<tr>
			<td>1</td>
			<td th:text="${list[0].username}"></td>
			<td th:text="${list[0].age}"></td>
		</tr>
		<tr>
			<td>2</td>
			<td th:text="${list[1].username}"></td>
			<td th:text="${list[1].age}"></td>
		</tr>
	</table>
</body>
</html>