<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>th:block 예제</h3>
	<th:block th:each="user:${user}"> 
		<div>
			이름 : <span th:text="${user.username}"></span>
			나이 : <span th:text="${user.age}"></span>
		</div>
	</th:block>
	<hr>
	<div th:each="user:${user}">
		이름 : <span th:text="${user.username}"></span>
		나이 : <span th:text="${user.age}"></span>
	</div>
	<hr>
	요약 <span th:text="${user[0].username} + ' / ' + ${user[0].age}"></span><br>
	요약 <span th:text="|${user[0].username} / ${user[0].age}|"></span><br>
</body>
</html>