<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.basic.admin.user.AdminUserMapper">
	
	<insert id="mailing_save" parameterType="MailMngVo">
		INSERT INTO
			mailmng_tbl (
				m_idx,
			    m_title,
			    m_content,
			    m_gubun)
		VALUES (
			seq_mailmng_tbl.NEXTVAL,
			#{title},
			#{content},
			#{gubun})
	</insert>
	
	<select id="getAllMailAddress" resultType="String">
		SELECT
			mbsp_email
		FROM
			mbsp_tbl
	</select>
	
	
	
	
	
	


</mapper>