<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.basic.cart.CartMapper">

	<insert id="cart_add" parameterType="CartVo">
		MERGE INTO
			cart_tbl
		USING dual
		ON (mbsp_id = #{mbsp_id} AND pro_num = #{pro_num})
		WHEN MATCHED THEN
			UPDATE
				SET cart_amount = cart_amount + #{cart_amount}
		WHEN NOT MATCHED THEN
			INSERT (cart_code, pro_num, mbsp_id, cart_amount)
			VALUES (SEQ_CART_CODE.NEXTVAL, #{pro_num}, #{mbsp_id}, #{cart_amount})
	</insert>

	<select id="cart_list" parameterType="String" resultType="CartProductVo">
		SELECT
		    c.mbsp_id, p.pro_up_folder, p.pro_img,
		    p.pro_price, p.pro_name, c.cart_code,
		    c.pro_num, c.cart_amount
		FROM
			cart_tbl c
		INNER JOIN
			product_tbl P
		ON
			c.pro_num = p.pro_num
		WHERE
			c.mbsp_id = #{mbsp_id}
	</select>

	<delete id="cart_del" parameterType="Long">
		DELETE FROM
			cart_tbl
		WHERE
			cart_code = #{cart_code}
	</delete>

	<update id="cart_change" parameterType="map">
		UPDATE
			cart_tbl
		SET
			cart_amount = #{cart_amount}
		WHERE
			cart_code = #{cart_code}
	</update>

	<delete id="cart_empty" parameterType="String">
		DELETE FROM
			cart_tbl
		WHERE
			mbsp_id = #{mbsp_id}
	</delete>










</mapper>