<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.basic.user.UserMapper">

	<!-- 아이디 중복체크 -->
	<select id="idCheck" parameterType="String" resultType="String">
		SELECT
		    mbsp_id
		FROM
		    mbsp_tbl
		WHERE
		    mbsp_id = #{mbsp_id}
	</select>

	<!-- 회원가입 저장 -->
	<insert id="join" parameterType="com.docmall.basic.user.UserVo">
		INSERT INTO
		    mbsp_tbl(
		        mbsp_id,
			    mbsp_name,
			    mbsp_email,
			    mbsp_password,
			    mbsp_zipcode,
			    mbsp_addr,
			    mbsp_deaddr,
			    mbsp_phone,
			    mbsp_nick)
		VALUES
		    (#{mbsp_id}, #{mbsp_name}, #{mbsp_email}, #{mbsp_password}, #{mbsp_zipcode}, #{mbsp_addr}, #{mbsp_deaddr}, #{mbsp_phone}, #{mbsp_nick} )
	</insert>



</mapper>