<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.basic.user.UserMapper">

	<!-- 아이디 중복체크 -->
	<select id="idCheck" parameterType="String" resultType="String">
		SELECT
		    mbsp_id
		FROM
		    mbsp_tbl
		WHERE
		    mbsp_id = #{mbsp_id}
	</select>

	<!-- 회원가입 저장 -->
	<insert id="join" parameterType="UserVo">
		INSERT INTO
		    mbsp_tbl(
		        mbsp_id,
			    mbsp_name,
			    mbsp_email,
			    mbsp_password,
			    mbsp_zipcode,
			    mbsp_addr,
			    mbsp_deaddr,
			    mbsp_phone,
			    mbsp_nick)
		VALUES
		    (#{mbsp_id}, #{mbsp_name}, #{mbsp_email}, #{mbsp_password}, #{mbsp_zipcode}, #{mbsp_addr}, #{mbsp_deaddr}, #{mbsp_phone}, #{mbsp_nick} )
	</insert>
	
	<!-- 로그인(파라미터 타입 생략 가능), 마이페이지 사용 -->
	<select id="login" resultType="UserVo" parameterType="String">
		SELECT
		    mbsp_id,
		    mbsp_name,
		    mbsp_email,
		    mbsp_password,
		    mbsp_zipcode,
		    mbsp_addr,
		    mbsp_deaddr,
		    mbsp_phone,
		    mbsp_nick,
		    mbsp_receive,
		    mbsp_point,
		    mbsp_lastlogin,
		    mbsp_datesub,
		    mbsp_updatedate
		FROM
		    mbsp_tbl
		WHERE
			mbsp_id = #{mbsp_id}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="idfind" resultType="String">
		SELECT
			mbsp_id
		FROM
			mbsp_tbl
		WHERE
			mbsp_name = #{mbsp_name}
		AND
			mbsp_email = #{mbsp_email}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="pwfind" resultType="String" parameterType="map">
		SELECT mbsp_email
		FROM mbsp_tbl
		WHERE mbsp_id = #{mbsp_id}
		AND mbsp_name = #{mbsp_name}
		AND mbsp_email = #{mbsp_email}
	</select>

	<!-- 비밀번호 업데이트 : 파라미터 타입은 생략해도 상관없으나 map임. -->
	<update id="tempPwUpdate" parameterType="map">
		UPDATE mbsp_tbl
		SET mbsp_password = #{temp_enc_pw}
		WHERE mbsp_id = #{mbsp_id}
	</update>
	
	<!-- 수정 -->
	<update id="modify" parameterType="UserVo">
		UPDATE
		    mbsp_tbl
		SET
			mbsp_email = #{mbsp_email},
			mbsp_zipcode = #{mbsp_zipcode},
		    mbsp_addr = #{mbsp_addr},
		    mbsp_deaddr = #{mbsp_deaddr},
		    mbsp_phone = #{mbsp_phone}
		WHERE
		    mbsp_id = #{mbsp_id}
	</update>
	
	<!-- 비밀번호 변경/ 파라미터가 두 개면 map으로 들어옴. -->
	<update id="changePw" parameterType="map">
		UPDATE
		    mbsp_tbl
		SET
			mbsp_password = #{new_mbsp_password}
		WHERE
		    mbsp_id = #{mbsp_id}
	</update>
	
	
	
	
	
	



</mapper>