<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{layout/comm/config :: configFragment}"></head>
<body>
  <div th:replace ="~{layout/comm/header :: headerFragment}" ></div>
  <th:block layout:fragment = "content">
    <!-- 각각의 페이지에서 구현하고자 하는 컨텐츠를 작성 -->
  </th:block>
  <div th:replace ="~{layout/comm/footer :: footerFragment}" ></div>

  <th:block th:replace="~{layout/comm/script :: script}"></th:block>

</body>
</html>