
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/baselayout}">

<th:block layout:fragment="css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
  <!-- 1) Include Handlebars from a CDN -->
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  
  <!-- 2) Handlebar Template -->
  <!-- {{}}가 핸들바 문법임. 데이터를 반복시킬 때 each 문법 사용, <tr>이 10개가 만들어짐! 데이터가 여러개면 each작업해주기. -->
  <!-- convertDate가 함수, replydate가 값 -->
  <script id="review-template" type="text/x-handlebars-template">
    <table id="revtable" class="table">
      <thead>
        <tr>
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col">내용</th>
          <th scope="col">평점</th>
          <th scope="col">작성자</th>
          <th scope="col">등록일</th>
          <th scope="col">비고</th>
        </tr>
      </thead>
      <tbody>
        {{#each .}}
          <tr>
            <th scope="row">{{rev_code}}</th>
            <td>{{mbsp_id}}</td>
            <td>{{pro_num}}</td>
            <td>{{rev_title}}</td>
            <td>{{rev_content}}</td>
            <td>{{rev_rate}}</td>
            <td>{{rev_date}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </script>
</th:block>
<body>
  
<th:block layout:fragment = "content">    
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h3 class="display-4" th:utext="${cat_name}"></h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <img th:src="${'/product/image_display?dateFolderName=' + product.pro_up_folder + '&fileName=s_' + product.pro_img}" style="width: 100%;height: 255px;">
      </div>
      <div class="col-6">
        <form>
          <div class="form-group">
            <span id="info_pro_name" th:text="${product.pro_name}">이름</span>
            <small class="text-muted">(review : 0)</small>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">판매가격: </label><span th:text="${#numbers.formatInteger(product.pro_price, 3, 'COMMA') + '원'}"></span>
          </div>
          <div class="form-group">
            <label>수량</label>
            <input type="number" class="form-control" value="1" id="btn_cart_amount">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-secondary" style="width: 100%;" th:data-pro_num="${product.pro_num}" id="btn_direct_buy">BUY IT NOW</button>
            <button type="button" class="btn btn-light" style="width: 100%;" th:data-pro_num="${product.pro_num}" id="btn_cart_add">ADD TO CART</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div id="pro_info">
          <ul>
            <li><a href="#pro_detail">상세정보</a></li>
            <li><a href="#pro_review">상품리뷰(0)</a></li>
            <li><a href="#pro_qna">Q&A</a></li>
          </ul>
          <div id="pro_detail">
            <p th:utext="${product.pro_content}"></p>
          </div>
          <div id="pro_review">
            <div id="review_list"></div>
          </div>
          <div id="pro_qna">
            <p>M</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>


  </div>

</th:block>
<th:block layout:fragment="script">
  <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
  <script th:inline="javascript">
    $(document).ready(function() {

      $( function() {
        $( "#pro_info" ).tabs();
      } );
      
      $("button#btn_cart_add").on("click", function() {

        console.log("장바구니 추가");

        let pro_num = $(this).data("pro_num");
        let cart_amount = $("#btn_cart_amount").val();

        $.ajax({
          url : '/cart/cart_add',
          type : 'get',
          data : {pro_num : pro_num, cart_amount : cart_amount},
          dataType : 'text', // success 문자열만 받아올 예정
          success : function(result) {
            if(result == 'success') {
              alert("상품이 장바구니에 담겼습니다.");
              if(confirm("장바구니로 이동하시겠습니까?")) {
                location.href = "/cart/cart_list";
              }
            }
          }
        });
      });

      // 바로구매
      $("button[name='btn_direct_order']").on("click", function() {
        $('#order_process_popup_2').modal('show'); // bootstrap4에서 제공해주는 명령어

        let pro_num = $(this).data("pro_num");
        console.log("상품코드", pro_num);

        $("#popup_info").load("/product/pro_info_2?pro_num=" + pro_num);
      });

      // 상품 후기와 페이징 정보를 호출하는 작업
      let reviewPage = 1;
      let url = "/review/revlist/" + [[${product.pro_num}]] + "/" + reviewPage; // 상품후기와 페이징 정보를 요청하는 주소
      console.log("상품후기 주소", url);

      getReviewList(url);

      // ajax 문법을 통한 주소요청 작업 $.ajax, load(), getJSON()
      function getReviewList(url) {
        $.getJSON(url, function(reviewlist) { // reviewlist는 임의적으로 적음.
//          console.log("reviewlist", reviewlist.revlist);
//          console.log("reviewlist", reviewlist.pageMaker);

//        print_reviewlist(reviewlist.revlist, "상품후기목록이 출력될 위치", "핸들바템플릿");
          print_reviewlist(reviewlist.revlist, $("#review_list"), $("#review-template"));
        });
      }

      // 상품후기 UI 작업
      let print_reviewlist = function(reviewData, target, template) {
        let templateObj = Handlebars.compile(template.html()); // 템플릿 문법 검사 및 참조
        let reviewHtml = templateObj(reviewData);
        target.children().remove(); // ajax가 계속 쌓이지 않도록
        target.append(reviewHtml);

      }


      // 페이징 UI작업



    }); // ready end
  </script>
</th:block>
</body>
</html>