
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/baselayout}">

<body>

<th:block layout:fragment = "content">    
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-3 mb-4 text-center">회원탈퇴</h1>
    <div class="row">
      <div class="col-4">
        <section th:replace="~{user/comm/mypage_menu}"></section>
      </div>
      <div class="col-8">
        <form class="form-horizontal" id="deleteForm" th:action="@{/user/delete}" method="post">
          <div class="card-body">
            <div class="form-group row">
              <label for="mbsp_password" class="col-sm-4 col-form-label">현재 비밀번호</label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="mbsp_password" name="mbsp_password">
              </div>
            </div>
          </div>
          
          <div class="card-footer">
            <button type="button" class="btn btn-info btn-block" id="btnDelete">회원탈퇴</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
</th:block>
<th:block layout:fragment="script">
  <script th:inline="javascript"> // th:inline="javascript" 속성값을 주면 tymeleaf에서 객체 데이터를 받아올 수 있다.
    let msg = [[${msg}]];
    if(msg == "failPW") {
      alert("비밀번호를 확인해주세요.");
    }

    $(document).ready(function() {
      // 비밀번호 변경 버튼
      $("#btnDelete").on("click", function() {
        if($("#mbsp_password").val() == "") {
          alert("비밀번호를 입력하시오.");
          $("#mbsp_password").focus();
          return;
        }
        $("#deleteForm").submit();
        });

    }); // ready event end
  </script>
</th:block>
</body>
</html>
