<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.demo.mapper.ReplyMapper">

	<!-- 댓글 기능 구현 -->
	<select id="getListPaging" resultType="com.docmall.demo.domain.ReplyVO">
			SELECT
			    rno,
			    bno,
			    retext,
			    replyer,
			    replydate,
			    updatedate
			FROM (
			    SELECT /*+ INDEX_DESC(reply pk_reply) */
			        ROWNUM AS rn,
			            rno,
			            bno,
			            retext,
			            replyer,
			            replydate,
			            updatedate
			        FROM
			            reply
			        WHERE
			            bno = #{bno}
				<![CDATA[
			        AND
						ROWNUM <= (#{cri.pageNum} * #{cri.amount})
			)
			WHERE
			    rn > (#{cri.pageNum} - 1 ) * #{cri.amount}
		]]>
	</select>
	
	<!-- 게시물의 전체 데이터수 가지고 오기 -->
	<select id="getCountByBno" resultType="int" parameterType="Long">
		SELECT
			COUNT(*)
		FROM
			reply
		WHERE
			bno = #{bno}
	</select>
	
	<insert id="insert" parameterType="com.docmall.demo.domain.ReplyVO">
		INSERT INTO
			reply(rno, bno, retext, replyer)
		VALUES
			(seq_reply.NEXTVAL, #{bno}, #{retext}, #{replyer})
	</insert>
	
	<update id="update" parameterType="com.docmall.demo.domain.ReplyVO">
		UPDATE
			reply
		SET
			retext = #{retext},
			updatedate = SYSDATE
		WHERE
			rno = #{rno}
	</update>
	
	<!-- mybatis에선 기본적으로 parameterType 안 적는데 공부하는 입장이니까. -->
	<delete id="delete" parameterType="Integer">
		DELETE
			reply
		WHERE
			rno = #{rno}
	</delete>
	

</mapper>